In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
data=pd.read_csv(r"C:\Users\user\Desktop\Data sets\Churn_Modelling.csv")

In [3]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
data.shape

(10000, 14)

In [5]:
np.sum(data.isnull())

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [6]:
features=data.iloc[:,3:-1]
label=data.iloc[:,-1]

# In feature the existing customer is going to exit from the bank in feature  or not

In [7]:
features.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [8]:
features=pd.get_dummies(data=features,columns=['Geography','Gender'],drop_first=True)

In [9]:
features.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [10]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(features,label,test_size=0.2,random_state=12)

In [11]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.fit_transform(X_test)

In [12]:
import keras

In [13]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import ReLU,LeakyReLU,ELU
from keras.layers import Dropout

In [14]:
#model installing ANN
classifier=Sequential()

In [15]:
#Dense layer means hidden layer
#we can creat3e many hidden layers i.e Dense
#output_dim or units=6 it menas 6 hidden neurons
#init or kernel_initializer=he_uniform it means (it is a weight initialization technique )
#when we are using activation function relu use weight initiazition as he_uniform
#imput_dim =11 it means in my data set i'm having 11 features

In [16]:
#hidden layer 1
classifier.add(Dense(units=6,kernel_initializer='he_uniform',activation='relu',input_dim=11))

In [17]:
#hidden layer 2
classifier.add(Dense(units=6,kernel_initializer='he_uniform',activation='relu'))

In [18]:
#out put layer
#here units is 1 because my target variable is 0 or 1 so we are taking 1 neuron 
#for activation function sigmoid use glorot_ uniform weight inistalization
classifier.add(Dense(units=1,kernel_initializer='glorot_uniform',activation='sigmoid'))

In [19]:
classifier.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 6)                 72
_________________________________________________________________
dense_1 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [20]:
#optimizer=adam it is used 
#losss=for binary values use binary_crossentropy for multiclass use category_crossentropy
#

In [21]:
#ANN compilation
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [22]:
#ANN fitting
classifier.fit(X_train,y_train,validation_split=0.33,batch_size=10,epochs=50)

Epoch 1/50
536/536 [==============================] - 1s 1ms/step - loss: 0.6147 - accuracy: 0.7197 - val_loss: 0.5129 - val_accuracy: 0.8103
Epoch 2/50
536/536 [==============================] - 1s 1ms/step - loss: 0.4935 - accuracy: 0.7972 - val_loss: 0.4428 - val_accuracy: 0.8198
Epoch 3/50
536/536 [==============================] - 1s 1ms/step - loss: 0.4460 - accuracy: 0.8072 - val_loss: 0.4198 - val_accuracy: 0.8273
Epoch 4/50
536/536 [==============================] - 1s 1ms/step - loss: 0.4301 - accuracy: 0.8115 - val_loss: 0.4135 - val_accuracy: 0.8262
Epoch 5/50
536/536 [==============================] - 1s 1ms/step - loss: 0.4231 - accuracy: 0.8177 - val_loss: 0.4080 - val_accuracy: 0.8281
Epoch 6/50
536/536 [==============================] - 1s 1ms/step - loss: 0.4181 - accuracy: 0.8242 - val_loss: 0.4087 - val_accuracy: 0.8258
Epoch 7/50
536/536 [==============================] - 1s 1ms/step - loss: 0.4145 - accuracy: 0.8238 - val_loss: 0.4024 - val_accuracy: 0.8304
Epoch 8/50
536/536 [==============================] - 1s 1ms/step - loss: 0.4111 - accuracy: 0.8263 - val_loss: 0.3991 - val_accuracy: 0.8307
Epoch 9/50
536/536 [==============================] - 1s 1ms/step - loss: 0.4072 - accuracy: 0.8276 - val_loss: 0.3956 - val_accuracy: 0.8292
Epoch 10/50
536/536 [==============================] - 1s 1ms/step - loss: 0.4036 - accuracy: 0.8313 - val_loss: 0.3904 - val_accuracy: 0.8338
Epoch 11/50
536/536 [==============================] - 1s 2ms/step - loss: 0.3989 - accuracy: 0.8354 - val_loss: 0.3842 - val_accuracy: 0.8410
Epoch 12/50
536/536 [==============================] - 1s 1ms/step - loss: 0.3935 - accuracy: 0.8358 - val_loss: 0.3765 - val_accuracy: 0.8432
Epoch 13/50
536/536 [==============================] - 1s 1ms/step - loss: 0.3862 - accuracy: 0.8403 - val_loss: 0.3679 - val_accuracy: 0.8489
Epoch 14/50
536/536 [==============================] - 1s 2ms/step - loss: 0.3780 - accuracy: 0.8474 - val_loss: 0.3592 - val_accuracy: 0.8554
Epoch 15/50
536/536 [==============================] - 1s 2ms/step - loss: 0.3692 - accuracy: 0.8531 - val_loss: 0.3494 - val_accuracy: 0.8607
Epoch 16/50
536/536 [==============================] - 1s 1ms/step - loss: 0.3631 - accuracy: 0.8533 - val_loss: 0.3446 - val_accuracy: 0.8603
Epoch 17/50
536/536 [==============================] - 1s 1ms/step - loss: 0.3584 - accuracy: 0.8535 - val_loss: 0.3406 - val_accuracy: 0.8633
Epoch 18/50
536/536 [==============================] - 1s 1ms/step - loss: 0.3548 - accuracy: 0.8543 - val_loss: 0.3395 - val_accuracy: 0.8660
Epoch 19/50
536/536 [==============================] - 1s 1ms/step - loss: 0.3535 - accuracy: 0.8535 - val_loss: 0.3373 - val_accuracy: 0.8663
Epoch 20/50
536/536 [==============================] - 1s 979us/step - loss: 0.3523 - accuracy: 0.8533 - val_loss: 0.3372 - val_accuracy: 0.8671
Epoch 21/50
536/536 [==============================] - 1s 2ms/step - loss: 0.3511 - accuracy: 0.8543 - val_loss: 0.3349 - val_accuracy: 0.8671
Epoch 22/50
536/536 [==============================] - 1s 1ms/step - loss: 0.3504 - accuracy: 0.8543 - val_loss: 0.3346 - val_accuracy: 0.8671
Epoch 23/50
536/536 [==============================] - 1s 1ms/step - loss: 0.3494 - accuracy: 0.8559 - val_loss: 0.3371 - val_accuracy: 0.8682
Epoch 24/50
536/536 [==============================] - 1s 1ms/step - loss: 0.3486 - accuracy: 0.8558 - val_loss: 0.3365 - val_accuracy: 0.8667
Epoch 25/50
536/536 [==============================] - 1s 2ms/step - loss: 0.3481 - accuracy: 0.8569 - val_loss: 0.3337 - val_accuracy: 0.8682
Epoch 26/50
536/536 [==============================] - 1s 2ms/step - loss: 0.3474 - accuracy: 0.8556 - val_loss: 0.3343 - val_accuracy: 0.8686
Epoch 27/50
536/536 [==============================] - 1s 2ms/step - loss: 0.3470 - accuracy: 0.8559 - val_loss: 0.3345 - val_accuracy: 0.8671
Epoch 28/50
536/536 [==============================] - 1s 2ms/step - loss: 0.3464 - accuracy: 0.8580 - val_loss: 0.3353 - val_accuracy: 0.8671
Epoch 29/50
536/536 [==============================] - 1s 1ms/step - loss: 0.3462 - accuracy: 0.8563 - val_loss: 0.3331 - val_accuracy: 0.8675
Epoch 30/50
536/536 [==============================] - 1s 1ms/step - loss: 0.3453 - accuracy: 0.8561 - val_loss: 0.3328 - val_accuracy: 0.8697
Epoch 31/50
536/536 [==============================] - 1s 2ms/step - loss: 0.3455 - accuracy: 0.8587 - val_loss: 0.3343 - val_accuracy: 0.8682
Epoch 32/50
536/536 [==============================] - 1s 1ms/step - loss: 0.3448 - accuracy: 0.8574 - val_loss: 0.3367 - val_accuracy: 0.8682
Epoch 33/50
536/536 [==============================] - 1s 1ms/step - loss: 0.3449 - accuracy: 0.8576 - val_loss: 0.3348 - val_accuracy: 0.8694
Epoch 34/50
536/536 [==============================] - 1s 1ms/step - loss: 0.3442 - accuracy: 0.8567 - val_loss: 0.3376 - val_accuracy: 0.8671
Epoch 35/50
536/536 [==============================] - 1s 1ms/step - loss: 0.3436 - accuracy: 0.8580 - val_loss: 0.3344 - val_accuracy: 0.8690
Epoch 36/50
536/536 [==============================] - 1s 1ms/step - loss: 0.3434 - accuracy: 0.8569 - val_loss: 0.3340 - val_accuracy: 0.8701
Epoch 37/50
536/536 [==============================] - 1s 1ms/step - loss: 0.3433 - accuracy: 0.8576 - val_loss: 0.3348 - val_accuracy: 0.8675
Epoch 38/50
536/536 [==============================] - 1s 1ms/step - loss: 0.3424 - accuracy: 0.8559 - val_loss: 0.3331 - val_accuracy: 0.8671
Epoch 39/50
536/536 [==============================] - 1s 1ms/step - loss: 0.3423 - accuracy: 0.8559 - val_loss: 0.3332 - val_accuracy: 0.8644
Epoch 40/50
536/536 [==============================] - 1s 1ms/step - loss: 0.3422 - accuracy: 0.8569 - val_loss: 0.3328 - val_accuracy: 0.8660
Epoch 41/50
536/536 [==============================] - 1s 1ms/step - loss: 0.3425 - accuracy: 0.8580 - val_loss: 0.3335 - val_accuracy: 0.8686
Epoch 42/50
536/536 [==============================] - 1s 1ms/step - loss: 0.3424 - accuracy: 0.8580 - val_loss: 0.3324 - val_accuracy: 0.8663
Epoch 43/50
536/536 [==============================] - 1s 1ms/step - loss: 0.3423 - accuracy: 0.8558 - val_loss: 0.3332 - val_accuracy: 0.8690
Epoch 44/50
536/536 [==============================] - 1s 1ms/step - loss: 0.3417 - accuracy: 0.8572 - val_loss: 0.3330 - val_accuracy: 0.8682
Epoch 45/50
536/536 [==============================] - 1s 1ms/step - loss: 0.3420 - accuracy: 0.8563 - val_loss: 0.3356 - val_accuracy: 0.8679
Epoch 46/50
536/536 [==============================] - 1s 1ms/step - loss: 0.3413 - accuracy: 0.8582 - val_loss: 0.3334 - val_accuracy: 0.8690
Epoch 47/50
536/536 [==============================] - 1s 1ms/step - loss: 0.3412 - accuracy: 0.8578 - val_loss: 0.3342 - val_accuracy: 0.8679
Epoch 48/50
536/536 [==============================] - 1s 1ms/step - loss: 0.3415 - accuracy: 0.8578 - val_loss: 0.3346 - val_accuracy: 0.8701
Epoch 49/50
536/536 [==============================] - 1s 1ms/step - loss: 0.3415 - accuracy: 0.8576 - val_loss: 0.3343 - val_accuracy: 0.8686
Epoch 50/50
536/536 [==============================] - 1s 1ms/step - loss: 0.3409 - accuracy: 0.8582 - val_loss: 0.3324 - val_accuracy: 0.8656

In [23]:
y_pred=classifier.predict(X_test)
y_pred=(y_pred > 0.5)

In [24]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)

In [25]:
cm

array([[1526,   38],
       [ 247,  189]], dtype=int64)

In [26]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)

In [27]:
score

0.8575

In [28]:
#=====================================================

In [31]:
tensorflow.__version__

'2.3.0'

In [30]:
import tensorflow